
{% extends "layout/base_crm.html" %}
{% load static %}

{% block additionaly_css %}
    <style>
        .column-center {
            margin-top: 5pt;
        }
    </style>
    

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" integrity="sha256-rByPlHULObEjJ6XQxW/flG2r+22R5dKiAoef+aXWfik=" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="{% static 'appartments/plugins/summernote/summernote.min.css' %}">

{% endblock additionaly_css %}
{% block additionaly_js %}

    <script src="{% static 'appartments/plugins/summernote/summernote.min.js' %}"></script>
    <script src="{% static 'appartments/plugins/summernote/lang/summernote-ru-RU.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha256-KM512VNnjElC30ehFwehXjx1YCHPiQkOPmqnrWtpccM=" crossorigin="anonymous"></script>

{% endblock additionaly_js %}


{% block title %}
    <title> О нас </title>
{% endblock title %}

{% block content-header %}
    <h1> О нас </h1>
{% endblock %}

{% block content %}

<form enctype="multipart/form-data" method="post">



    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Редактирование страницы "Контакты"</h3>
        </div>

        <div class="box-body">
                {% csrf_token %}
                <div class="row">
                    <div class="col-xs-12 col-md-8">
                        <h3 class="page-header">Контактная информация</h3>
                        <div class="form-group">
                            <p><label>{{ main_form.title.label }}</label></p>
                            {{ main_form.title }}
                        </div>
                        <div class="form-group">
                            <p><label>{{ main_form.simple_text.label }}</label></p>
                            <p>{{ main_form.simple_text }}</p>
                        </div>
                        <div class="form-group">
                            <p><label>{{ main_form.link_to_commercial_cite.label }}</label></p>
                            <p>{{ main_form.link_to_commercial_cite }}</p>
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-4">
                        <div class="form-group">
                            <p><label>{{ main_form.full_name.label }}</label></p>
                            <p>{{ main_form.full_name }}</p>
                        </div>
                        <div class="form-group">
                            <p><label>{{ main_form.location.label }}</label></p>
                            <p>{{ main_form.location }}</p>
                        </div>
                        <div class="form-group">
                            <p><label>{{ main_form.address.label }}</label></p>
                            <p>{{ main_form.address }}</p>
                        </div>
                        <div class="form-group">
                            <p><label>{{ main_form.phone.label }}</label></p>
                            <p>{{ main_form.phone }}</p>
                        </div>
                        <div class="form-group">
                            <p><label>{{ main_form.email.label }}</label></p>
                            <p>{{ main_form.email }}</p>
                        </div>
                    </div>
                </div>

                <div class="row" id="photo_galery">
                    <div class="col-xs-12">
                        <h3 class="page-header">Карта</h3>
                        <p><label>{{ main_form.map_code.label }}</label></p>
                        <p>{{ main_form.map_code }}</p>
                    </div>
                </div>
  

                <div class="row">
                    <div class="col-md-12">
                        <label>{{ seo_block_form.title.label }}</label>
                        <p>{{ seo_block_form.title }}</p>
                        <label>{{ seo_block_form.description.label }}</label>
                        <p>{{ seo_block_form.description }}</p>
                        <label>{{ seo_block_form.keyword.label }}</label>
                        <p>{{ seo_block_form.keyword }}</p>
                    </div>
                </div>

                </div>
                <div class="row">
                    <div class="col-xs-6 text-right">
                        <div class="form-group">
                            <a class="btn btn-default" href="#">Отменить</a>
                            <button type="submit" class="btn btn-success">Сохранить</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</form>



<script>
    $(document).ready(function () {

    var DefaultStyleButton = function (context) {
        var ui = $.summernote.ui;
        var event = ui.buttonGroup([
            ui.button({
                contents: '<i class="fa fa-font"/><span>   Обычный текст   </span><b class="caret"></b>',
                data: {
                    toggle: 'dropdown'
                }
            }),
            ui.dropdown({
                items: [
                    'Обычный текст',
                    'Заголовок 1',
                    'Заголовок 2',
                    'Заголовок 3',
                    'Заголовок 4',
                    'Заголовок 5',
                    'Заголовок 6',
                ],
            callback: function (items) {
                $(items).find('li a').on('click', function(){
                    var changed_option_text = $(this).attr('data-value')
                    $(this).closest('ul').prev().find('span').text(changed_option_text)
                    if (changed_option_text == 'Обычный текст') {
                        $(this).closest('p').find('#short_descriptions_field').summernote('formatPara');
                    } else if (changed_option_text == 'Заголовок 1') {
                        $(this).closest('p').find('#short_descriptions_field').summernote('formatH1')
                    } else if (changed_option_text == 'Заголовок 2') {
                        $(this).closest('p').find('#short_descriptions_field').summernote('formatH2')
                    } else if (changed_option_text == 'Заголовок 3') {
                        $(this).closest('p').find('#short_descriptions_field').summernote('formatH3')
                    } else if (changed_option_text == 'Заголовок 4') {
                        $(this).closest('p').find('#short_descriptions_field').summernote('formatH4')
                    } else if (changed_option_text == 'Заголовок 5') {
                        $(this).closest('p').find('#short_descriptions_field').summernote('formatH5')
                    } else if (changed_option_text == 'Заголовок 6') {
                        $(this).closest('p').find('#short_descriptions_field').summernote('formatH6')
                    }
                    })
                    }
            })
        ]);
        return event.render();
    }
    
    
    var CustomBold = function (context) {
        var ui = $.summernote.ui;
        var button = ui.button({
            contents: '<strong>Полужирный</strong>',
            click: function () {
                $(this).closest('p').find('#short_descriptions_field').summernote('bold')
            }
        });
        return button.render();
        }
    
    
    var CustomItalic = function (context) {
        var ui = $.summernote.ui;
        var button = ui.button({
            contents: '<i>Курсивный</i>',
            click: function () {
                $(this).closest('p').find('#short_descriptions_field').summernote('italic')
            }
        });
        return button.render();
        }
    
    var CustomUnderline = function (context) {
        var ui = $.summernote.ui;
        var button = ui.button({
            contents: '<u>Подчеркнутый</u>',
            click: function () {
                $(this).closest('p').find('#short_descriptions_field').summernote('underline')
            }
        });
        return button.render();
        }
    
    var CustomIndent = function (context) {
        var ui = $.summernote.ui;
        var button = ui.button({
            contents: "<span class='fa fa-indent'></span>",
            tooltip: "Увеличить отступ",
            click: function () {
                $(this).closest('p').find('#short_descriptions_field').summernote('indent')
            }
        });
        return button.render();
        }
    
    var CustomOutdent = function (context) {
        var ui = $.summernote.ui;
        var button = ui.button({
            contents: "<span class='fa fa-outdent'></span>",
            tooltip: "Уменьшить отступ",
            click: function () {

            $(this).closest('p').find('#short_descriptions_field').summernote('outdent')

            }
        });
        return button.render();
        }
    


    $('*[id=short_descriptions_field]').summernote({
        toolbar: [
            ['style', ['style_cliche']],
            ['font', ['custom_bold', 'custom_italic', 'custom_underline']],
            ['para', ['ul', 'ol', 'custom_outdent', 'custom_indent']],
        ],

        callbacks: {
            onChange: function (contents, $editable) {
                var markup = $('#short_descriptions_field').summernote('code');
            }
        },

        buttons: {
            style_cliche: DefaultStyleButton,
            custom_bold: CustomBold,
            custom_italic: CustomItalic,
            custom_underline: CustomUnderline,
            custom_indent: CustomIndent,
            custom_outdent: CustomOutdent,
            },

        lang: 'ru-RU',
        placeholder: 'Текст сообщения:',
        tabsize: 2,
        height: 150
        });


    $('li[aria-label]').each(function(){
        $(this).find('a').attr('href', 'javascript:;')
    })

    
//    $(".box-body").on('change', "input[name$='image']", function () {
//        var input = $(this);
//        var output = $(this).closest('div').find("img[class^='img-responsive']")
//        var reader = new FileReader();
//        reader.onload = function () {
//            output.attr("src", reader.result);
//        };
//        reader.readAsDataURL(input[0].files[0]);
//    });


//    $("a[id^='add_']").click(function(){
//        console.log('tou click!')
//        var current_form_container = $(this).closest("div[class='row']").prev()
//        var form_index = $(current_form_container).find("input[id$='TOTAL_FORMS']").val()
//        if($(this).parent().attr('id') == "add_simple_button_container"){
//            var new_form = $(current_form_container).find('#empty_form_container').html().replace(/__prefix__/g, form_index);
//            $(current_form_container).append(new_form)
//            $(`input[id$='about_us_formset-${form_index}-image']`).closest('div').hide()
//            $(`input[id$='about_us_formset-${form_index}-image']`).click()    
//            $(`input[id$='about_us_formset-${form_index}-image']`).change(function(){
//            $(`input[id$='about_us_formset-${form_index}-image']`).closest('div').show()
//            $(current_form_container).find("input[id$='TOTAL_FORMS']").val(parseInt(form_index) + 1)
//            })
//        } else if ($(this).parent().attr('id') == "add_adition_button_container") {
//            var new_form = $(current_form_container).find('#empty_form_container').html().replace(/__prefix__/g, form_index);
//            $(current_form_container).append(new_form)
//            $(`input[id$='id_additional_gallery_about_us_formset-${form_index}-image']`).closest('div').hide()
//            $(`input[id$='id_additional_gallery_about_us_formset-${form_index}-image']`).click()
//            $(`input[id$='id_additional_gallery_about_us_formset-${form_index}-image']`).change(function(){
//            $(`input[id$='id_additional_gallery_about_us_formset-${form_index}-image']`).closest('div').show()
//            $(current_form_container).find("input[id$='TOTAL_FORMS']").val(parseInt(form_index) + 1)
//            })
//        } else if ($(this).parent().attr('id') == "add_document_button_container"){
//            var current_form_container = $(this).closest("div[class='row']").parent()
//            var form_index = $(current_form_container).closest('#documents_block').find("input[id$='TOTAL_FORMS']").val()
//            var new_form = $(current_form_container).find('#empty_form_container').html().replace(/__prefix__/g, form_index);
//            $(new_form).insertBefore($(this).parent())
//            $(current_form_container).find("input[id$='TOTAL_FORMS']").val(parseInt(form_index) + 1)
//        }
//    })


//    $("div[id=photo_galery]").on('click', "img", function(){
//        $(this).closest('div').find("input[id^=id_photo_gallery], input[id^=id_additional_gallery]").first().click()
//    })


//    $("div[id=photo_galery], div[id=documents_block]").on('click', '#delete_button', function(){
//        $(this).parent().next().trigger('click');
//        if($(this).closest($(this).closest("#doc-row")).length != 0){
//            $(this).closest("#doc-row").hide()
//        } else {
//            $(this).closest("div[class^='col-']").hide()
//        }
//    })


//    $("input[id^='id_photo_gallery_about_us'], input[id^='id_additional_gallery'], input[id$='-DELETE']").hide()
//    $("div[id=empty_form_container]").hide()



});
</script>
{% endblock content %}