amqp==5.1.1
# arabic-reshaper==3.0.0
asgiref==3.6.0
# asn1crypto==1.5.1
async-timeout==4.0.2
Babel==2.12.1
# backports.zoneinfo==0.2.1
billiard==3.6.4.0
celery==5.2.7
# certifi==2022.12.7
# cffi==1.15.1
# charset-normalizer==3.1.0
# click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
colour==0.1.5
# cryptography==40.0.2
# cssselect2==0.7.0
Django==3.2.17
django-appconf==1.0.5
django-cleanup==7.0.0
django-debug-toolbar==3.8.1
django-environ==0.9.0
django-select2==8.1.1
django-utils-six==2.0
et-xmlfile==1.1.0
Faker==17.0.0
# freetype-py==2.3.0
html2text==2020.1.16
# html5lib==1.1
# idna==3.4
kombu==5.2.4
# lxml==4.9.2
manimlib==0.2.0
numpy==1.24.3
opencv-python==4.7.0.72
openpyxl==3.1.2
# oscrypto==1.3.0
pdfkit==1.0.0
Pillow==9.4.0
progressbar==2.5
prompt-toolkit==3.0.38
psycopg2==2.9.5
# pycairo==1.23.0
# pycparser==2.21
pydub==0.25.1
Pygments==2.15.1
# pyHanko==0.18.1
# pyhanko-certvalidator==0.22.0
# pypdf==3.8.1
pypng==0.20220715.0
# python-bidi==0.4.2
python-dateutil==2.8.2
pytz==2022.7.1
# pytz-deprecation-shim==0.1.0.post0
# PyYAML==6.0
# qrcode==7.4.2
redis==4.5.5
# reportlab==4.0.0
# requests==2.30.0
# rlPyCairo==0.2.0
# scipy==1.10.1
six==1.16.0
sqlparse==0.4.3
# svglib==1.5.1
# tinycss2==1.2.1
tqdm==4.65.0
typing-extensions==4.5.0
# tzdata==2023.3
# tzlocal==4.3
# uritools==4.0.1
# urllib3==2.0.2
vine==5.0.0
wcwidth==0.2.6
# webencodings==0.5.1
# xhtml2pdf==0.2.10
