asgiref==3.6.0
Babel==2.12.1
Django==3.2.17
django-appconf==1.0.5
django-cleanup==7.0.0
django-debug-toolbar==3.8.1
django-environ==0.9.0
django-select2==8.1.1
django-utils-six==2.0
et-xmlfile==1.1.0
Faker==17.0.0
html2text==2020.1.16
openpyxl==3.1.2
Pillow==9.4.0
psycopg2==2.9.5
python-dateutil==2.8.2
pytz==2022.7.1
six==1.16.0
sqlparse==0.4.3
