{% extends "layout/base_crm.html" %}
{% load static %}

{% block title %}
    <title> Статьи платежа </title>
{% endblock title %}

{% block content-header %}
    <h1> Статьи платежа </h1>
{% endblock %}

{% block additionaly_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" integrity="sha256-rByPlHULObEjJ6XQxW/flG2r+22R5dKiAoef+aXWfik=" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="{% static 'appartments/plugins/select2/dist/css/select2.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'appartments/plugins/select2-theme-bootstrap4/dist/select2-bootstrap.min.css' %}">
{% endblock additionaly_css %}

{% block additionaly_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha256-KM512VNnjElC30ehFwehXjx1YCHPiQkOPmqnrWtpccM=" crossorigin="anonymous"></script>
    <script src="{% static 'appartments/plugins/select2/dist/js/select2.min.js' %}"></script>
    <script src="{% static 'appartments/plugins/bootstrap-datepicker/js/locales/bootstrap-datepicker.ru.js' %}"></script>
{% endblock additionaly_js %}



{% block content %}
{% comment %} <style>
    div.dataTables_wrapper {
        width: 800px;
        margin: 0 auto;
    }
</style> {% endcomment %}

        <section class="content">
            <div class="box">
                <div class="box-body">
                    <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-xs-6 col-md-6">
                            {{ item_form.as_p }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-10 text-right">
                            <div class="form-group">
                                <a class="btn btn-default" href="#">Отменить</a>
                                <button type="submit" class="btn btn-success">Сохранить</button>
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
        </section>



<script>


$(document).ready(function () {



    });   
</script>
{% endblock content %}