
{% extends "layout/base_crm.html" %}
{% load static %}


{% block additionaly_css %}
    {% for form in responsibilities_formset %}
        {{ form.media.css }} 
    {% endfor %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" integrity="sha256-rByPlHULObEjJ6XQxW/flG2r+22R5dKiAoef+aXWfik=" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="{% static 'appartments/plugins/select2/dist/css/select2.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'appartments/plugins/select2-theme-bootstrap4/dist/select2-bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" integrity="sha256-rByPlHULObEjJ6XQxW/flG2r+22R5dKiAoef+aXWfik=" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'appartments/plugins/bootstrap3-datetimepicker/lib/css/bootstrap-datetimepicker.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'appartments/plugins/summernote/summernote.min.css' %}">


    <style>
        .column-center {
            margin-top: 5pt;
        }
    </style>

{% endblock additionaly_css %}



{% block additionaly_js %}
    {% for form in responsibilities_formset %}
        {{ form.media.js }}
    {% endfor %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha256-KM512VNnjElC30ehFwehXjx1YCHPiQkOPmqnrWtpccM=" crossorigin="anonymous"></script>
    <script src="{% static 'appartments/plugins/select2/dist/js/select2.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha256-KM512VNnjElC30ehFwehXjx1YCHPiQkOPmqnrWtpccM=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script src="{% static 'appartments/plugins/bootstrap3-datetimepicker/package.js' %}"></script>
    <script src="{% static 'appartments/plugins/bootstrap3-datetimepicker/lib/js/bootstrap-datetimepicker.min.js' %}"></script>
    <script src="{% static 'appartments/plugins/summernote/summernote.min.js' %}"></script>
    <script src="{% static 'appartments/plugins/summernote/lang/summernote-ru-RU.js' %}"></script>

{% endblock additionaly_js %}


{% block title %}
    <title> Новая заявка  </title>

{% endblock title %}

{% block content-header %}
    
    <h1> Новая заявка </h1>
    
{% endblock %}

{% block content %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        <div class="col-xs-12 col-md-8 col-lg-7">
            <div class="box-body">
                <div class="row">
                    <div class="col-xs-5">
                        <div class="input-group">
                            {{ masters_request_form.date_work }}
                            <div class="input-group-addon">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-1 column-center">
                        <strong><span>от</span></strong>
                    </div>
                    <div class="col-xs-5">
                        <div class="input-group">
                            <div class='input-group date' id='datetimepicker3'>
                               {{ masters_request_form.time_work }}
                               <span class="input-group-addon">
                               <span class="glyphicon glyphicon-time"></span>
                               </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="box">
        <div class="box-body">
                <div class="row">
                    <div class="col-xs-6 col-md-6">
                        <div class="form-group">
                            <label class="control-label">{{ masters_request_form.owner_utility_field.label}}</label>
                            {{ masters_request_form.owner_utility_field }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-md-6">
                        <div class="form-group">
                            <label class="control-label">{{ masters_request_form.description.label }}</label>
                            {{ masters_request_form.description }}
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-6">
                        <div class="form-group">
                            <label class="control-label">{{ masters_request_form.appartment.label}}</label>
                            {{ masters_request_form.appartment }}
                            <div class="help-block"></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">{{ masters_request_form.master_type.label}}</label>
                            {{ masters_request_form.master_type }}
                            <div class="help-block"></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">{{ masters_request_form.status.label}}</label>
                            {{ masters_request_form.status }}
                            <div class="help-block"></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">{{ masters_request_form.master.label }}</label>
                            {{ masters_request_form.master }}
                            <div class="help-block"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-11 col-md-11">
                        <label class="control-label">{{ masters_request_form.admin_comment.label }}</label>
                        {{ masters_request_form.admin_comment }}
                        <div class="help-block"></div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-xs-11 text-right">
                        <div class="form-group">
                            <a class="btn btn-default" href="#">Отменить</a>
                            <button type="submit" class="btn btn-success">Сохранить</button>
                        </div>
                    </div>
                </div>
                
                
            </div>
        </div>
    </div>
</div>

</form>



<script>

    $(document).ready(function () {

    var DefaultStyleButton = function (context) {
        var ui = $.summernote.ui;
        var event = ui.buttonGroup([
            ui.button({
                contents: '<i class="fa fa-font"/><span>   Обычный текст   </span><b class="caret"></b>',
                data: {
                    toggle: 'dropdown'
                }
            }),
            ui.dropdown({
                items: [
                    'Обычный текст',
                    'Заголовок 1',
                    'Заголовок 2',
                    'Заголовок 3',
                    'Заголовок 4',
                    'Заголовок 5',
                    'Заголовок 6',
                ],
            callback: function (items) {
                $(items).find('li a').on('click', function(){
                    var changed_option_text = $(this).attr('data-value')
                    $(this).closest('ul').prev().find('span').text(changed_option_text)
                    if (changed_option_text == 'Обычный текст') {
                        $('#summernote').summernote('formatPara');
                    } else if (changed_option_text == 'Заголовок 1') {
                        $('#summernote').summernote('formatH1')
                    } else if (changed_option_text == 'Заголовок 2') {
                        $('#summernote').summernote('formatH2')
                    } else if (changed_option_text == 'Заголовок 3') {
                        $('#summernote').summernote('formatH3')
                    } else if (changed_option_text == 'Заголовок 4') {
                        $('#summernote').summernote('formatH4')
                    } else if (changed_option_text == 'Заголовок 5') {
                        $('#summernote').summernote('formatH5')
                    } else if (changed_option_text == 'Заголовок 6') {
                        $('#summernote').summernote('formatH6')
                    }
                    })
                    }
            })
        ]);
        return event.render();
    }


    var CustomBold = function (context) {
        var ui = $.summernote.ui;
        var button = ui.button({
        contents: '<strong>Полужирный</strong>',
        click: function () {
            $('#summernote').summernote('bold')
        }
        });
        return button.render();
    }


    var CustomItalic = function (context) {
        var ui = $.summernote.ui;
        var button = ui.button({
        contents: '<i>Курсивный</i>',
        click: function () {
            $('#summernote').summernote('italic')
        }
        });
        return button.render();
    }

    var CustomUnderline = function (context) {
        var ui = $.summernote.ui;
        var button = ui.button({
        contents: '<u>Подчеркнутый</u>',
        click: function () {
            $('#summernote').summernote('underline')
        }
        });
        return button.render();
    }

    var CustomIndent = function (context) {
        var ui = $.summernote.ui;
        var button = ui.button({
        contents: "<span class='fa fa-indent'></span>",
        tooltip: "Увеличить отступ",
        click: function () {
            $('#summernote').summernote('indent')
        }
        });
        return button.render();
    }

    var CustomOutdent = function (context) {
        var ui = $.summernote.ui;
        var button = ui.button({
        contents: "<span class='fa fa-outdent'></span>",
        tooltip: "Уменьшить отступ",
        click: function () {
            $('#summernote').summernote('outdent')
        }
        });
        return button.render();
    }


    $('#summernote').summernote({
        toolbar: [
            ['style', ['style_cliche']],
            ['font', ['custom_bold', 'custom_italic', 'custom_underline']],
            ['para', ['ul', 'ol', 'custom_outdent', 'custom_indent']],
        ],

        callbacks: {
            onChange: function (contents, $editable) {
                var markup = $('#summernote').summernote('code');
            }
        },

        buttons: {
            style_cliche: DefaultStyleButton,
            custom_bold: CustomBold,
            custom_italic: CustomItalic,
            custom_underline: CustomUnderline,
            custom_indent: CustomIndent,
            custom_outdent: CustomOutdent,
          },

        lang: 'ru-RU',
        placeholder: 'Текст сообщения:',
        tabsize: 2,
        height: 200
        });



        if (($('#appartment_field').val()).length ){
            appartment_id = $('#appartment_field').val()
            $.ajax({
                url: "{% url 'masters_services:masters_requests_update' %}",
                dataType: "json",
                data: {"issue_marker": 'get_owner_marker',
                        "current_appartment": $('#appartment_field').val()},
                success: (data) =>{
                    owner_id = data['user_initial_data'][0]['id']    
                    $('#owner_utility_field').select2().val(owner_id).trigger("change");
                    $('#appartment_field').select2().val(appartment_id).trigger("change");
                }
            })

        }
        




        $('#owner_utility_field').select2({
            placeholder: "выберите пользователя",
            allowClear: true,
            ajax: {
                url: "{% url 'masters_services:masters_requests_create' %}",
                dataType: 'json',
                data: function(params){
                    if(params.term != undefined && params.term != ''){
                        var query = {
                            search: params.term,
                            type: 'public',
                            issue_marker: 'owner_marker'
                        }
                        return query;
                    } else {
                        var query = {
                            search: params.term,
                            type: 'public',
                            issue_marker: 'all_owners_marker'
                        }
                        return query;
                    }  
                }
            }
        })


        $('#appartment_field').select2({
            placeholder: "выберите квартиру",
            allowClear: true,
            ajax: {
                url: "{% url 'masters_services:masters_requests_create' %}",
                dataType: 'json',
                data: function(params){
                    if(params.term != undefined && params.term != ''){
                        var query = {
                            search: params.term,
                            type: 'public',
                            issue_marker: 'appartment_marker',
                            choosen_owner_id: $('#owner_utility_field').val()
                        }
                        return query;
                    } else {
                        var query = {
                            search: params.term,
                            type: 'public',
                            issue_marker: 'all_apartments_marker',
                            choosen_owner_id: $('#owner_utility_field').val()
                        }
                        return query;
                    }  
                }
            }
        })

        


        
    function clearChooseAppartment(){
        $('#appartment_field').val(null).trigger('change');
    }
        
    $("#owner_utility_field").on("change", clearChooseAppartment);


    $('#date_work_field').datepicker({
        format: "dd.mm.yyyy",
        language: 'ru'
    })


    $('#datetimepicker3').datetimepicker({
        format: 'HH:mm'
    });

    
});
</script>
{% endblock content %}