@charset "utf-8";

html {
    position: relative;
    min-height: 100%;
}
body {
    padding-top: 50px;
    margin-bottom: 60px;
}
h1, h2, h3 {
    font-size: 24px;
}

/* Spec styles */
.row.row-eq-height {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}
.row.row-eq-height > [class*='col-'] {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}
.row.row-eq-height:after, 
.row.row-eq-height:before {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.mainTitle {
    color: #000;
    font-size: 24px;
    margin-bottom: 15px;
}
.box {
    margin-bottom: 30px;
}
.imgFloatRight {
    float: right;
    margin: 0 0 15px 15px;
}
/* Spec styles END*/

/* Main page */
.navbar {
    border-radius: 0;
    margin-bottom: 0;
}
.navbar-brand {
    padding: 5px 15px;
}
.navbar-brand>img {
    width: 178px;
    max-height: 67px;
}
.slider .slick-slide {
    position: relative;
}
.slider .slick-slide .slideTitle {
    width: 55%;
    color: #fff;
    font-size: 60px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    z-index: 5;
    margin: auto;
    transform: translateY(-50%);
    text-align: center;
    background: rgba(0,0,0,0.5);
    border-radius: 10px;
}
.slider img {
    width: 100%;
    height: 800px;
    object-fit: cover;
}
.slider .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 5;
    transform: translateY(-50%);
    color: rgba(255,255,255,0.7);
}
.slider .slick-arrow:hover {
    color: rgba(255,255,255,1);
    cursor: pointer;
}
.slider .slick-prev {
    left: 15px;
}
.slider .slick-next {
    right: 15px;
}
.slider .slick-dots {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 15px;
    width: 100%;
}
.slider .slick-dots li {
    display: inline-block;
    margin: 0 5px;
}
.slider .slick-dots li button {
    font-size: 0;
    line-height: 0;
    border: 0;
    border-radius: 50%;
    display: inline-block;
    background: rgba(255,255,255,0.7);
    width: 20px;
    height: 20px;
    outline: none;
}
.slider .slick-dots li.slick-active button,
.slider .slick-dots li button:hover {
    background: rgba(255,255,255,1);
}
.advantages .thumbnail {
    height: 100%;
    margin-bottom: 0;
}
/*.advantages .thumbnail a>img,
.advantages .thumbnail>img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}*/
.advantage-item {
    margin-bottom: 20px;
}
.info .imgStore {
    float: right;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f8f8f8;
    border-top: 1px solid #e7e7e7;
}
.footer p {
    margin: 20px 0;
}
/* Main page END */

/* Breadcrumb */
.breadcrumb {
    background-color: #fff;
    padding: 8px 0;
}
/* Breadcrumb END*/

/* About page */
.about img {
    max-width: 250px;
}
.gallery .item {
    margin-bottom: 30px;
}
.gallery img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    cursor: pointer;
}
/* About page END */

/* Service page */
.services .row {
    margin-bottom: 30px;
}
.services .row:first-child {
    margin-bottom: 0;
}
.services img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
/* Service page END */

@media screen and (max-width: 1199px) {
    .slider .slick-slide .slideTitle {
        width: 65%;
        font-size: 40px;
    }
    .slider img,
    .map iframe {
        height: 600px;
    }
}
@media screen and (max-width: 991px) {
    .slider .slick-slide .slideTitle {
        width: 55%;
        font-size: 30px;
    }
    .slider img,
    .map iframe {
        height: 450px;
    }
}
@media screen and (max-width: 767px) {
    .imgFloatRight {
        float: none;
        margin: 0 auto;
    }
    .services img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
}