{% extends "layout/base_crm.html" %}

{% block title %}
    <title> роли </title>
{% endblock title %}

{% block content %}
<div class="box">
    <div class="box-header with-border">
    <h3 class="box-title"></h3>
    <div class="box-tools">
        <a href="/admin/user-admin/update/5" class="btn btn-primary btn-sm">
            <span class="hidden-xs">Роли</span><i class="fa fa-pencil visible-xs" aria-hidden="true"></i>
        </a>
    </div>
</div>
    <div class="box-body">
    <h1>тут будет логика для настройки ролей</h1>
</div>
</div>
{% endblock content %}