{% extends "layout/base_crm.html" %}

{% block title %}
    <title> владельцы квартир </title>
{% endblock title %}

{% block content-header %}
    <h1> владельцы квартир </h1>
{% endblock %}


{% block content %}
<div class="box">
    <div class="box-header with-border">
    <h3 class="box-title"></h3>
    {% comment %} <div class="box-tools">
        <a href="/admin/user-admin/update/5" class="btn btn-primary btn-sm">
            <span class="hidden-xs">пока тестируем миксин</span><i class="fa fa-pencil visible-xs" aria-hidden="true"></i>
        </a>
    </div> {% endcomment %}
</div>
    <div class="box-body">
    <div class="row">
        <div class="col-xs-12 col-lg-4">
            <h1>Тестовое окно для миксина. Работать с владельцами буду когда сделаю квартиры и лицевые счета</h1>
        </div>
    </div>
</div>
</div>
{% endblock content %}