{% extends "layout/base_crm.html" %}

{% block title %}
    <title> пользователь </title>
{% endblock title %}

{% block content %}
<div class="box">
    <div class="box-header with-border">
    <h3 class="box-title"></h3>
    <div class="box-tools">
        <a href="/admin/user-admin/update/5" class="btn btn-primary btn-sm">
            <span class="hidden-xs">Редактировать пользователя</span><i class="fa fa-pencil visible-xs" aria-hidden="true"></i>
        </a>
    </div>
</div>
    <div class="box-body">
    <div class="row">
        <div class="col-xs-12 col-lg-4">
            <table class="table table-bordered table-striped table-view">
                <tbody>
                    <tr>
                        <td>Пользователь</td>
                        <td>{{ user.name }} {{ user.surname }}</td>
                    </tr>
                    <tr>
                        <td>Роль</td>
                        <td>{{ user.role }}</td>
                    </tr>
                    <tr>
                        <td>Телефон</td>
                        <td>{{ user.phone }}</td>
                    </tr>
                    <tr>
                        <td>Email(логин)</td>
                        <td>{{ user.email }}</td>
                    </tr>
                    <tr>
                        <td>Статус</td>
                        {% if user.status == "active" %}
                            <td><small class='label label-success my-3'>Активен</small></td>
                        {% elif user.status == "new" %}
                            <td><small class='label label-warning my-3'>Новый</small></td>
                        {% else %}
                            <td><small class="label label-danger">Отключен</small></td>
                        {% endif %}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
{% endblock content %}