{% extends "layout/base_cabinet.html" %}
{% load static %}

{% block title %}
    <title> Сообщения </title>
{% endblock title %}

{% block content-header %}
    <h1> Сообщения </h1>
{% endblock %}

{% block additionaly_css %}
    {% comment %} <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" integrity="sha256-rByPlHULObEjJ6XQxW/flG2r+22R5dKiAoef+aXWfik=" crossorigin="anonymous" /> {% endcomment %}
    <link rel="stylesheet" type="text/css" href="{% static 'appartments/plugins/select2/dist/css/select2.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'appartments/plugins/select2-theme-bootstrap4/dist/select2-bootstrap.min.css' %}">
    {% comment %} <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" integrity="sha256-rByPlHULObEjJ6XQxW/flG2r+22R5dKiAoef+aXWfik=" crossorigin="anonymous" /> {% endcomment %}
{% endblock additionaly_css %}





{% block content %}

        <section class="content">

            <div id="myDialog">
                Content of the modal dialog box.
            </div>
            <div class="box">
                <div class="box-body no-padding">
                    <div class="mailbox-read-info">
                        <h3>{{ messagetouser.topic }}</h3>
                        <h5>От: {{ messagetouser.from_user }}
                            {% comment %} <span class="mailbox-read-time pull-right">06.08.2022 - 12:32</span> {% endcomment %}
                            <span class="mailbox-read-time pull-right">{{ messagetouser.date_time|date:'d.m.Y - H:i' }}</span>
                        </h5>
                    </div>
                    <div class="mailbox-read-message">
                        <p>{{ messagetouser.text|safe }}</p>
                    </div>
                </div>
                <div class="box-footer">
                    {% comment %} <a href="javascript:;" data-confirm="Удалить?" data-method="post"> {% endcomment %}

                        <form action="{% url 'users:profile_message_delete' pk=messagetouser.pk %}" method="POST">
                            {% csrf_token %}
                            <input class="btn btn-default btn-danger" type="submit" value="Delete"/>
                          </form>                          

                        {% comment %} <button type="button" class="btn btn-default">
                            <i class="fa fa-trash-o"></i> Удалить
                        </button> {% endcomment %}
                    {% comment %} </a> {% endcomment %}
                </div>
            </div>
            

        </div>
        </section>


{% block additionaly_js %}
    {% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha256-KM512VNnjElC30ehFwehXjx1YCHPiQkOPmqnrWtpccM=" crossorigin="anonymous"></script> {% endcomment %}
    <script src="{% static 'appartments/plugins/select2/dist/js/select2.min.js' %}"></script>
    <script src="{% static 'appartments/plugins/bootstrap-datepicker/js/locales/bootstrap-datepicker.ru.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha256-KM512VNnjElC30ehFwehXjx1YCHPiQkOPmqnrWtpccM=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
{% endblock additionaly_js %}




<script>


$(document).ready(function () {


    });



    
</script>
{% endblock content %}