<!DOCTYPE html>

{% load static %}

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <link rel="shortcut icon" type="image/png" href="{% static 'users/img/favicon.png' %}"/>
        {% block title %}
        {% endblock title %}
        <link rel="stylesheet" type="text/css" href="{% static 'website/css/style.css' %}">

        <link rel="stylesheet" type="text/css" href="{% static 'users/components/font-awesome/css/font-awesome.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'users/components/font-awesome/css/all.min.css' %}">

        <link rel="stylesheet" type="text/css" href="{% static 'users/components/bootstrap/dist/css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'users/components/bootstrap/dist/css/bootstrap.min.css.map' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'users/css/AdminLTE.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'users/css/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'users/plugins/toastr/build/toastr.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'users/components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'users/components/Ionicons/css/ionicons.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'users/components/jvectormap/jquery-jvectormap.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'users/plugins/iCheck/flat/blue.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'users/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'users/css/skins/_all-skins.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'users/css/custom.css' %}">
        
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

        <script type="text/javascript" src="{% static 'users/components/jquery/dist/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'users/components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'users/components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'users/components/fastclick/lib/fastclick.js' %}"></script>
        <script type="text/javascript" src="{% static 'users/js/adminlte.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'users/plugins/toastr/build/toastr.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'users/plugins/iCheck/icheck.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'users/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.js' %}"></script>
        <script type="text/javascript" src="{% static 'users/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.ru-RU.js' %}"></script>
        <script type="text/javascript" src="{% static 'users/components/jquery-sparkline/dist/jquery.sparkline.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'users/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'users/plugins/jvectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
        <script type="text/javascript" src="{% static 'users/components/jquery-slimscroll/jquery.slimscroll.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'users/components/chart.js/Chart.js' %}"></script>
        <script type="text/javascript" src="{% static 'users/js/yii.js' %}"></script>
        <script type="text/javascript" src="{% static 'users/js/main.js' %}"></script>
        <script type="text/javascript" src="{% static 'users/js/custom.js' %}"></script>

        <link rel="shortcut icon" type="image/png" href="{% static 'users/img/favicon.png' %}"/>
    </head>
    <body class="skin-black-light sidebar-mini fixed sidebar-mini-expand-feature" style="height: auto; min-height: 100%;">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menuBtn" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">
                        <img src="{% static 'website/img/front_logo.svg' %}" alt="Demo CRM 24">
                    </a>
                </div>
    
                <div class="collapse navbar-collapse" id="menuBtn">
                    <ul class="nav navbar-nav navbar-right">
                        <li class=""><a href="{% url 'website:main_page' %}">Главная<span class="sr-only"></span></a></li>
                        <li class=""><a href="Javascript:;">О нас</a></li>
                        <li class=""><a href="Javascript:;">Услуги</a></li>
                        <li><a href="Javascript:;">Условия приобретения</a></li>
                        <li class=""><a href="/contact">Контакты</a></li>
                        <li><a href="Javascript:;"><i class="fa fa-sign-in"></i>   Вход</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        {% comment %} <div class="content-wrapper" style="min-height: 1000px; margin-left: 0px"> {% endcomment %}
            {% comment %} <section class="content-header"> {% endcomment %}
                {% comment %} {% block content-header %}
                    <h1>Сводка</h1>
                {% endblock %} {% endcomment %}
            {% comment %} </section> {% endcomment %}
            {% comment %} <section class="content"> {% endcomment %}
                {% block content %}
                {% endblock content %}
            {% comment %} </section> {% endcomment %}
        {% comment %} </div> {% endcomment %}

        <footer class="main-footer">
            Разработано <a href="https://avada-media.ua/">AVADA-MEDIA</a>. На базе системы управления <a href="https://avada-media.ua/moydom24/">"МойДом24"</a>.
        </footer>

    </body>
