{% extends "layout/base_crm.html" %}

{% block title %}
    <title>Печатная форма документа</title>
{% endblock title %}

{% block content-header %}
<h1>Печатная форма документа</h1>
{% endblock %}
{% block content %}
<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">Список шаблонов</h3>
    <div class="box-tools">
        <a href="{% url 'receipts:receipt_template_edite_view' %}" class="btn btn-default btn-sm">
            <span class="hidden-xs"> Настройка шаблонов </span><i class="fa fa-dollar visible-xs" aria-hidden="true"></i>
        </a>
    </div>
</div>
    <div class="box-body">
        <form action = "" method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-xs-12 ml-xs-5">
                    {% for radio in form.templates_list %}
                        <div><p>{{ radio }}</p></div>
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-11 text-right">
                    <div class="form-group">
                        <input class="btn btn-btn-default" type="submit" value="Выслать на email" name="send_to_email_pdf">
                        <input class="btn btn-success" type="submit" value="Скачать" name="print_xls_doc">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock content %}