
{% extends "layout/base_crm.html" %}
{% load static %}


{% block additionaly_css %}
    {% for form in responsibilities_formset %}
        {{ form.media.css }} 
    {% endfor %}

    <style>

        .column-center {
            margin-top: 5pt;
        }
        
    </style>

{% endblock additionaly_css %}



{% block additionaly_js %}
    {% for form in responsibilities_formset %}
        {{ form.media.js }}
    {% endfor %}
{% endblock additionaly_js %}


{% block title %}
    <title> Новая квитанция </title>

{% endblock title %}

{% block content-header %}
    
    <h1>Новая квитанция</h1>
    
{% endblock %}

{% block content %}

<form method="post" enctype="multipart/form-data">
<div class="row">
    <div class="col-xs-12 col-md-8 col-lg-7">
        <div class="box-body">
            <div class="row">
                <div class="col-xs-5">
                    <div class="input-group">
                        <div class="input-group-addon">
                            №
                        </div>
                        {{ main_form.number }}
                    </div>
                </div>

                <div class="col-xs-1 column-center">
                    <strong><span>от</span></strong>
                </div>
                <div class="col-xs-5">
                    
                    <div class="input-group">
                        <span class="input-group-addon" title="Выбрать дату">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </span>
                        {{ main_form.payment_due }}
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<div class="box">
    <div class="box-body">
            {% csrf_token %}
            
            <div class="row">
                <div class="col-xs-6 col-md-6">
                    <div class="form-group">
                        <label class="control-label">{{ utility_form.house.label}}</label>
                        {{ utility_form.house }}
                        <div class="help-block"></div>
                    </div>

                    <div class="form-group">
                        <label class="control-label">{{ utility_form.section.label }}</label>
                        {{ utility_form.section }}
                        <div class="help-block"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">{{ main_form.appartment.label }}</label>
                        {{ main_form.appartment }}
                        <div class="help-block"></div>
                    </div>
                </div>

                <div class="col-xs-6 col-md-6">
                    <div class="form-group">
                        {{ main_form.payment_was_made }}
                        <label class="control-label">{{ main_form.payment_was_made.label}}</label>
                        <div class="help-block"></div>
                    </div>

                    <div class="form-group">
                        <label class="control-label">{{ main_form.status.label}}</label>
                        {{ main_form.status }}
                        <div class="help-block"></div>
                    </div>

                    <div class="form-group">
                        <label class="control-label">{{ main_form.tariff.label }}</label>
                        {{ main_form.tariff }}
                        <div class="help-block"></div>
                    </div>

                    {% comment %} ----------------------- {% endcomment %}
                    <div class="form-group">
                        {% comment %} <label class="control-label">{{ main_form.total_sum.label }}</label> {% endcomment %}
                        {{ main_form.total_sum }}
                        <div class="help-block"></div>
                    </div>
                    {% comment %} ----------------------- {% endcomment %}

                    <div class="row">
                        <div class="col-xs-6">
                            <strong>{{ main_form.from_date.label }}</strong>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </div>
                                {{ main_form.from_date }}
                            </div>
                        </div>
        
                        <div class="col-xs-6">
                            <strong>{{ main_form.to_date.label }}</strong>
                            <div class="input-group">
                                <span class="input-group-addon" title="Выбрать дату">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </span>
                                {{ main_form.to_date }}
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            
            

            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        <label>{{ utility_form.personal_account.label }}</label>
                        {{ utility_form.personal_account }}                      
                    </div>
                    <p>
                        <b>Владелец:</b> 
                        <span id="user-fullname">не выбран</span>
                    </p>
                    <p>
                        <b>Телефон:</b> 
                        <span id="user-phone">не выбран</span>
                    </p>
                </div>
                <div class="col-xs-12 col-sm-6">
                </div>
            </div>
            {% comment %} ----------------------------------- {% endcomment %}
            <table class="table table-bordered table-hover" id="utility_service_table">
                <thead>
                    <tr>
                        <th style="min-width: 200px;">Услуга</th>
                        <th style="min-width: 180px;">Расход</th>
                        <th style="min-width: 120px;">Ед. изм.</th>
                        <th style="min-width: 180px;">Цена за ед., грн.</th>
                        <th style="min-width: 180px;">Стоимость, грн.</th>
                        <th style="width: 40px; min-width: 40px;"></th>
                    </tr>
                </thead>
                {% comment %} ********************************************************************* {% endcomment %}
                <tbody id="receipt_cell_formset_table">
                    {{ receipt_cell_formset.management_form }}
                    {% for receipt_cell_form in receipt_cell_formset %}
                        {% for hidden in receipt_cell_form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}

                        <tr class="utility_data_row">
                            <td>
                                {{ receipt_cell_form.utility_service }}
                            </td>
                            <td>
                                {{ receipt_cell_form.consumption }}
                            </td>
                            <td>
                                {{ receipt_cell_form.unit_of_measure }}
                            </td>
                            <td>
                                {{ receipt_cell_form.cost_per_unit }}
                            </td>
                            <td>
                                {{ receipt_cell_form.cost }}
                            </td>
                            <td>
                                <button type="button" class="btn btn-default btn-sm form-row-remove-btn" title="Удалить услугу">
                                    <i class="fa fa-trash"></i>
                                </button>
                                {{ receipt_cell_form.DELETE }}
                            </td>
                        </tr>
                    {% endfor %}

                    {% comment %} <div id="empty_form_container"> {% endcomment %}
                        <tr id="empty_form_container">
                            <td>
                                {{ receipt_cell_formset.empty_form.utility_service }}
                            </td>
                            <td>
                                {{ receipt_cell_formset.empty_form.consumption }}
                            </td>
                            <td>
                                {{ receipt_cell_formset.empty_form.unit_of_measure }}
                            </td>
                            <td>
                                {{ receipt_cell_formset.empty_form.cost_per_unit }}
                            </td>
                            <td>
                                {{ receipt_cell_formset.empty_form.cost }}
                            </td>
                            <td>
                                <button type="button" class="btn btn-default btn-sm form-row-remove-btn" title="Удалить услугу">
                                    <i class="fa fa-trash"></i>
                                </button>
                                {{ receipt_cell_formset.empty_form.DELETE }}
                            </td>
                        </tr>
                    {% comment %} </div> {% endcomment %}
                    
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4" valing="middle">
                            <button type="button" class="btn btn-default btn-hover-change" id="add_simple_utility">
                                Добавить услугу
                            </button>
                            <button type="button" class="btn btn-default" id="add_all_utilities_using_tariff">
                                Установить все услуги согласно тарифу
                            </button>
                            <button type="button" class="btn btn-default add-counters" id="add_counters_readings">
                                Добавить показания счетчиков
                            </button>
                        </td>
                        <td style="min-width: 180px;">
                            <div class="h4">
                                Итого: <b><span id="price-total">0.00</span></b> грн
                            </div>
                        </td>
                        <td style="width: 40px; min-width: 40px;"></td>
                    </tr>
                </tfoot>
            </table>
            {% comment %} ----------------------------------- {% endcomment %}
            <div class="row">
                <div class="col-xs-11 text-right">
                    <div class="form-group">
                        <a class="btn btn-default" href="#">Отменить</a>
                        <button type="submit" class="btn btn-success">Сохранить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Показания счетчиков</h3>
                </div>
    
                <div id="counters" data-pjax-container="" data-pjax-push-state="" data-pjax-timeout="1000">
                    <div id="w0" class="grid-view"><div class="box-body table-responsive no-padding">
                        <table class="table table-bordered table-hover table-striped table-nowrap">
                            <thead>
                                <tr>
                                    <th style="width: 125px; min-width: 125px">№</th>
                                    <th>Статус</th>
                                    <th style="width: 125px; min-width: 125px">Дата</th>
                                    <th style="width: 125px; min-width: 125px">Месяц</th>
                                    <th style="min-width: 200px">Дом</th>
                                    <th style="min-width: 160px">Секция</th>
                                    <th style="width: 110px; min-width: 110px">№ квартиры</th>
                                    <th>Счетчик</th>
                                    <th style="width: 90px; min-width: 90px">Показания</th>
                                    <th style="width: 90px; min-width: 90px">Ед. изм.</th>
                                </tr>
                                <tr id="w0-filters" class="filter-hidden">
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td><input type="hidden" id="filterMonthYear" name="CounterDataSearch[searchUidMonthYear]" value="">
                                        <input type="hidden" id="filterFlatId" name="CounterDataSearch[flat_id]" value="97">
                                    </td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-key="123">
                                    <td>20072200123</td>
                                    <td>
                                        <small class="label label-success">Учтено</small>
                                    </td>
                                    <td>20.07.2022</td>
                                    <td>Июль 2022</td>
                                    <td>ЖК "Башня Чкалов"</td>
                                    <td>
                                        <span class="not-set">(не задано)</span>
                                    </td>
                                    <td>345345</td>
                                    <td></td>
                                    <td style="background-color: #DFD5; font-weight: normal">24123523.0</td>
                                    <td style="background-color: #DFD5; font-weight: normal">кв.м.к</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="box-footer clearfix">
                </div>
            </div>
        </div>
    </div>
</div>
</div>

</div>

</form>



<script>
    $(document).ready(function () {

    $("#appartment_field > option").not("option[value='']").hide()

    $("#house_utility_field").on('change', function(){
        var house_number = $(this).find(":selected").val()
        if (house_number){
            $.ajax({
                dataType: "json",
                url: "{% url 'receipts:add_receipt' %}",
                data: {"ajax_indicator": "get_certain_house",
                        "current_house_number": house_number},
                success: (data) => {
//                    console.log(data)
                    var sections = data['sections']
                    var additional_sections_html = "<option value='empty_section'>Выберите секцию</option>"
                    for (section of sections){
                        additional_sections_html +=`<option value=${section["id"]}>${section["title"]}</option>`
                    }
                    $("#section_utility_field").not("option[value='']").empty().append(additional_sections_html)

                    var appartments = data['appartments']
                    var additional_appartment_html = "<option value='empty_appartment'>Выберите квартиру</option>"
                    for (appartment of appartments){
                        additional_appartment_html +=`<option value=${appartment["id"]}>${appartment["number"]}</option>`
                    }
                    $("#appartment_field").not("option[value='']").empty().append(additional_appartment_html)    
                }
            })
        } else {
            $("#section_utility_field").not("option[value='']").empty().append("<option value='empty_section'>Выберите дом</option>")
            $("#appartment_field").not("option[value='']").empty().append("<option value='empty_appartment'>Выберите дом</option>")
            $('#personal_account_utility_field').val('')
        }
    })



        $("#section_utility_field").on('change', function(){

            var section_number = $(this).find(":selected").val()
            
            if (section_number != 'empty_section'){
                
                $.ajax({
                    dataType: "json",
                    url: "{% url 'receipts:add_receipt' %}",
                    data: {"ajax_indicator": "get_appartments_per_sections",
                            "current_sections_number": section_number},
                    success: (data) => {

                        var appartments = data['appartments']
                        var additional_appartment_html = "<option value='empty_appartment'>Выберите квартиру</option>"
                        for (appartment of appartments){
                            additional_appartment_html +=`<option value=${appartment["id"]}>${appartment["number"]}</option>`
                        }
                        $("#appartment_field").not("option[value='']").empty().append(additional_appartment_html)
                        
                    }
                })

            } else {
                $("#house_utility_field").trigger('change')
                $('#personal_account_utility_field').val('')
                
            }
        })


        // personal account filter
        $("#appartment_field").on('change', function(){
            var appartment_number = $(this).find(":selected").val()

            $.ajax({
                dataType: "json",
                url: "{% url 'receipts:add_receipt' %}",
                data: {"ajax_indicator": "get_personal_account_per_appartment",
                        "appartment": appartment_number},
                success: (data) => {

                    var personal_account_date = data['personal_account'][0]['number']
                    $('#personal_account_utility_field').val(personal_account_date)

                    var basic_url = "{% url 'appartments:owner_detail' %}"
                    var additional_url = data['personal_account'][0]['appartment_account__owner_user__id']
                    var url = basic_url + additional_url

                    console.log(data)
                    //console.log(url)
                    console.log(data['choosen_tariff'] != [])
                    if(data['choosen_tariff'][0]){
                        console.log(data['choosen_tariff'][0]['id'])
                        
                        $('#tariff_field').find(`option[value=${data['choosen_tariff'][0]['id']}]`).prop('selected', true)

                    } else {
                        toastr.warning('В данных о квартире не хватает сведений о тарифе!')
                        $('#tariff_field').find(`option[value='']`).prop('selected', true)
                    }
                    $('#user-fullname').html("").html(`<a href=${url}>${data['personal_account'][0]['appartment_account__owner_user__full_name']}</a>`)

                    $('#user-phone').html("").html(`<a>${data['personal_account'][0]['appartment_account__owner_user__phone']}</a>`)
                    //--------------------------------------------------------------------------------------
                }
            })

        })

        

///        $("#appartment_field").on('change', function(){
///            $
///        })



        $("#empty_form_container").hide()


        $("#utility_service_table").on('click', "button[id^='add']", function(){
            current_form_tab = $(this).closest('table')
            form_index = $(current_form_tab).find("input[id$='TOTAL_FORMS']").val()
            var new_html_data = $(current_form_tab).find('#empty_form_container').html().replace(/__prefix__/g, form_index);
            
            // add simple utility
            if($(this).attr('id') == 'add_simple_utility'){
                var new_form = `<tr class="utility_data_row">${new_html_data}</tr>`
                $(new_form).insertBefore($(this).parent().parent());
                $(current_form_tab).find("input[id$='TOTAL_FORMS']").val(parseInt(form_index) + 1);

            // add all utilities for this appartment
            } else if ($(this).attr('id') == 'add_counters_readings'){
                var choosen_tariff = $('#tariff_field')
                var choosen_appartment = $('#appartment_field')
                if(choosen_tariff.val()){
                    $("tr[class^='utility_data_row']").each(function(){
                        $(this).find("input[id$='DELETE']").prop('checked', true);
                        $(this).hide()
                    })

                    $.ajax({
                        url: "{% url 'receipts:add_receipt' %}",
                        data: {
                            'ajax_indicator': 'add_counters_readings',
                            'tariff_id': choosen_tariff.val(),
                            'appartment_data': choosen_appartment.val()
                        },
                        dataType: 'json',
                        success:function(data){
                                
                            //data['tariff_cell_data']

                            for(var tariff_cell of data['tariff_cell_data']){
                                $('#add_simple_utility').trigger('click')
                                var form_index = $(current_form_tab).find("input[id$='TOTAL_FORMS']").val()
                                var row_number = parseInt(form_index) - 1
                                $(`select[name$=${row_number}-utility_service]`).find(`option[value=${tariff_cell['utility_service__id']}]`).prop('selected', true)
                                $(`select[name$=${row_number}-unit_of_measure]`).find(`option[value=${tariff_cell['utility_service__unit_of_measure__id']}]`).prop('selected', true)
                                $(`input[name$=${row_number}-cost_per_unit]`).val(`${tariff_cell['cost_per_unit']}`)
                            }

                        }
                    })


                } else {
                    toastr.warning('Чтобы установить все услуги согласно тарифу, заполните поле тариф')
                }

            //add all readings in tariff readings
            } else if($(this).attr('id') == 'add_all_utilities_using_tariff'){
                var tariff_id = $('#tariff_field').val()
                $("tr[class^='utility_data_row']").each(function(){
                    $(this).find("input[id$='DELETE']").prop('checked', true);
                    $(this).hide()
                })

                if(tariff_id)
                {

                $.ajax({
                    url: "{% url 'receipts:add_receipt' %}",
                        data: {
                            'ajax_indicator': 'add_all_utilities_using_tariff',
                            'tariff_id': tariff_id
                        },
                        dataType: 'json',
                        success:function(data){
                              
                            console.log(data)

                            for(var tariff_cell of data['counter_tariff_cell_data']){
                                $('#add_simple_utility').trigger('click')
                                var form_index = $(current_form_tab).find("input[id$='TOTAL_FORMS']").val()
                                var row_number = parseInt(form_index) - 1
                                $(`select[name$=${row_number}-utility_service]`).find(`option[value=${tariff_cell['utility_service__id']}]`).prop('selected', true)
                                $(`select[name$=${row_number}-unit_of_measure]`).find(`option[value=${tariff_cell['utility_service__unit_of_measure__id']}]`).prop('selected', true)
                                $(`input[name$=${row_number}-cost_per_unit]`).val(`${tariff_cell['cost_per_unit']}`)
                            }

                        }
                })
                } else {
                    toastr.warning('Чтобы извлечь данные из счетчиков, необходимо выбрать квартиру')
                }
            }            
        })

        // calcualion logic
        $('#total_summ').hide()

        //logic for calculation addition
        $('#utility_service_table').on('change', '#consumption_field', function(){

            var consumption = $(this).val()
            var current_row = $(this).closest("tr")
            var cost_per_unit = $(current_row).find('#cost_per_unit_field').val()

            if(cost_per_unit){
                var cost = parseFloat(consumption) * parseFloat(cost_per_unit)
                $(current_row).find('#cost_field').val(cost.toFixed(2)).trigger('change')
            }
        })


        $('#utility_service_table').on('change', '#cost_per_unit_field', function(){
            var cost_per_unit = $(this).val()
            var current_row = $(this).closest("tr")
            var consumption = $(current_row).find('#consumption_field').val()

            if(consumption){
                var cost = parseFloat(consumption) * parseFloat(cost_per_unit)
                $(current_row).find('#cost_field').val(cost.toFixed(2)).trigger('change')
            }
        })


        $('tfoot').on('change', '#cost_field', function(){
            var old_cost = parseFloat($(this).attr('old_cost'))
            var current_cost = parseFloat($(this).val())
            var cost_change = current_cost - old_cost            
            $(this).attr('old_cost', current_cost)
            var total_summ = parseFloat($('#total_summ').val()) + cost_change
            $('#total_summ').val(total_summ).change()
        })


        $('#total_summ').change(function(){
            sum = $('#total_summ').val()
            $("#price-total").html(sum)
        })

        //logic for delete row and calculation subtraction
        $('input[id$=-DELETE]').hide()

        $('tfoot').on('click', 'button[class*=remove-btn]', function(){
            $(this).next().attr('checked', true)
            
            var current_cost = $(this).closest('.utility_data_row').find('#cost_field').val()
            
            if(current_cost){

                var total_summ = parseFloat($('#total_summ').val()) - current_cost
                $('#total_summ').val(total_summ).change()

                $(this).closest('.utility_data_row').hide()

            }
        })




    
});
</script>
{% endblock content %}