{% extends "layout/base_crm.html" %}
{% load static %}

{% block title %}
    <title>Квитанции</title>
{% endblock title %}

{% block content-header %}
    <h1>Квитанции</h1>
{% endblock %}

{% block additionaly_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" integrity="sha256-rByPlHULObEjJ6XQxW/flG2r+22R5dKiAoef+aXWfik=" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="{% static 'appartments/plugins/select2/dist/css/select2.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'appartments/plugins/select2-theme-bootstrap4/dist/select2-bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" integrity="sha256-rByPlHULObEjJ6XQxW/flG2r+22R5dKiAoef+aXWfik=" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
{% endblock additionaly_css %}

{% block additionaly_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha256-KM512VNnjElC30ehFwehXjx1YCHPiQkOPmqnrWtpccM=" crossorigin="anonymous"></script>
    <script src="{% static 'appartments/plugins/select2/dist/js/select2.min.js' %}"></script>
    <script src="{% static 'appartments/plugins/bootstrap-datepicker/js/locales/bootstrap-datepicker.ru.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha256-KM512VNnjElC30ehFwehXjx1YCHPiQkOPmqnrWtpccM=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    {% comment %} <script src="{% static 'appartments/plugins/bootstrap-datepicker/js/locales/bootstrap-datepicker.ru.js' %}"></script> {% endcomment %}
{% endblock additionaly_js %}


{% block content %}

        <section class="content">

            <div id="myDialog">
                Content of the modal dialog box.
            </div>
            <div class="row">
                <div class="col-xs-12 col-lg-9">
                    <div class="row">
                        <div class="col-xs-12 col-md-4">
                            <div class="small-box bg-green overflow-hidden">
                                <div class="inner">
                                    <h3>{{ general_statistics.total_fund_state }}</h3>
                                    <p>Состояние кассы</p>
                                </div>
                                <div class="icon">
                                    <i class="fa fa-dollar"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <div class="small-box bg-blue overflow-hidden">
                                <div class="inner">
                                    <h3>{{ general_statistics.total_balance }}</h3>
                                    <p>Баланс по счетам</p>
                                </div>
                                <div class="icon">
                                    <i class="fa fa-dollar"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <div class="small-box bg-red overflow-hidden">
                                <div class="inner">
                                    <h3>{{ general_statistics.total_debt }}</h3>
                                    <p>Задолженность по счетам</p>
                                </div>
                                <div class="icon">
                                    <i class="fa fa-dollar"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="col-xs-12 col-lg-3">
                    <div class="btn-group pull-right margin-bottom">
                        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Выберите действие <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'receipts:add_receipt' %}">Создать общую квитанцию</a></li>
                            <li><a href="#">Удалить</a></li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title"></h3>
                            <div class="box-tools">
                                <button class="btn btn-default btn-sm" id="clear_filters">
                                    <span class="hidden-xs">Очистить</span><i class="fa fa-eraser visible-xs" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                        <div id="w0" class="grid-view">
                            <div class="box-body table-responsive no-padding">
                                <table class="table table-bordered table-hover table-striped linkedRow" id="receipt_list_table">
                                    <thead>
                                        <tr id="order_links">
                                            <th>
                                                <div id='choose_checkbox' class="text-center">
                                                    <input type='checkbox'>
                                                </div>
                                            </th>

                                            <th sort-index="1" id="number">№ квитанции</th>
                                            <th sort-index="2" id="status">Статус</th>
                                            <th sort-index="3" id="to_date">Дата</th>
                                            <th sort-index="4" id="date_with_month_year">Месяц</th>
                                            <th sort-index="5" id="appartments_address">квартира(ы)</th>
                                            <th sort-index="6" id="owners_order">Собственник</th>
                                            <th sort-index="7" id="payment_was_made">Проплачено</th>
                                            <th sort-index="8" id="total_sum">Сумма (грн)</th>
                                            <th>&nbsp;</th>
                                        </tr>
                                        <tr class="filters">

                                            <td>
                                                &nbsp;
                                            </td>

                                            <td>
                                                <input colnumb="1" type="text" class="form-control" placeholder="" id="number">
                                            </td>

                                            <td>
                                                <select colnumb="2" class="form-control" placeholder="" id="choose_status">
                                                    <option id="all_status"></option>
                                                    <option id="paid_for">Оплачена</option>
                                                    <option id="partly">Частично</option>
                                                    <option id="unpaid">Неоплачена</option>
                                                </select>
                                            </td>

                                            <td>
                                                <input colnumb="3" type="text" class="form-control" placeholder="" id="to_date">
                                            </td>

                                            <td>
                                                <input colnumb="4" type="text" class="form-control" placeholder="" id="date_with_month_year_filter">
                                            </td>

                                            <td>
                                                <input colnumb="5" type="text" class="form-control" placeholder="" id="appartments_address_filter">
                                            </td>

                                            <td>
                                                <select colnumb="6" id="choose_owner" class="form-control" placeholder="">
                                                    <option value="all_owners"></option>
                                                </select>
                                            </td>

                                            <td>
                                                <select colnumb="7" class="form-control" id="payment_was_made">
                                                    <option id="all_payment_status"></option>
                                                    <option id="True">Проведена</option>
                                                    <option id="False">Не проведена</option>
                                                </select>
                                            </td>
                                            <td>

                                            </td>

                                            <td>
                                                &nbsp;
                                            </td>

                                        </tr>
                                    </thead>
                                    
                                    <tbody></tbody>
                                </table>
                            </div>
                    </div>            
                </div>
            </div>
        </div>
        </section>



<script>


$(document).ready(function () {



    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== "") {
          const cookies = document.cookie.split(";");
          for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + "=")) {
              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
              break;
            }
          }
        }
        return cookieValue;
      };


        var table = $('#receipt_list_table').DataTable({
            "initComplete": function(){

                //logic for input search element
                $('.filters input').on('keyup change clear', function(){
                                            var numb = $(this).attr("colnumb")
                                            table.columns(numb).search(this.value).draw();
                })

                
                //logic for select element            
                $('.filters select').on('change', function(){
                    var choosen_numb = $(this).attr("colnumb")
                    var choosen_option = $(this).find(":selected").attr('id')
                    table.columns(choosen_numb).search(choosen_option).draw();
                })


            },

            "rowCallback": function(row, data){
                if (data.status === "Оплачена") {
                    $('td:eq(2)', row).wrapInner("<small class='label label-success my-3'></small>");
                } else if (data.status === "Частично") {
                    $('td:eq(2)', row).wrapInner("<small class='label label-warning'></small>");
                } else if (data.status === "Неоплачена") {
                    $('td:eq(2)', row).wrapInner("<small class='label label-danger'></small>");
                }
            },

            "dom": "<<t>p>",
            "processing": true,
            "serverSide": true,
            "pageLength": 50,
            "ordering": false,
            "scrollX": true,
            "ajax": {
                "type": "GET",
                "url": "{% url 'receipts:receipt_list' %}",
                "dataSrc": "data",
                "dataType": "json",
            },
            "columns": [
                {"data": "", "width": "15pt", render: function(data, type, row, meta)
                                                    { prerendered_checkbox = "<div id='choose_checkbox' class='text-center'>\
                                                        <input type='checkbox'></div>";
                                                        return prerendered_checkbox
                                                    }
                                                },
                {"data": "number", "name": "number", "class":"number", "width": "75pt"},
                {"data": "status", "name": "status", "width": "50pt"},
                {"data": "to_date", "name": "to_date", "width": "100pt"},
                {"data": "date_with_month_year", "name": "date_with_month_year", "width": "100pt"},
                {"data": "appartments_address", "name": "appartments_address", "width": "100pt"},
                {"data": "appartment__owner_user__full_name", "name": "appartment__owner_user__full_name", "width": "100pt"},
                {"data": "payment_was_made", "name": "payment_was_made", "width": "100pt"},
                {"data": "total_sum", "name": "total_sum", "width": "100pt"},
                {"data": "", "width": "100pt", render: function ( data, type, row, meta ) 
                                        { prerendered_last_cell = "<div id='buttons_interaction'>\
                                                    <div class='col=12'>\
                                                        <a class='btn btn-default btn-sm' href='#' title='Отправить сообщение' data-toggle='tooltip'>\
                                                            <i class='fa fa fa-clone'></i>\
                                                        </a>\
                                                        <a class='btn btn-default btn-sm' title='Удалить' data-toggle='tooltip' id='delete_button'>\
                                                            <i class='fa fa-trash'></i>\
                                                        </a>\
                                                        <a class='btn btn-default btn-sm' title='Редактировать' data-toggle='tooltip' id='edite_button'>\
                                                            <i class='fa fa-pencil'></i>\
                                                        </a>\
                                                        </div>\
                                                    </div>";
                                            
                                            return prerendered_last_cell
                                        }
                },
                ],
//            "columnDefs": [
//                {'orderable': false, targets: 0},
//                {'orderable': false, targets: 1},
//                {'orderable': false, targets: 2},
//                {'orderable': false, targets: 3},
//                {'orderable': false, targets: 4},
//                {'orderable': false, targets: 5},
//                {'orderable': false, targets: 6},
//            ],
            "rowId": 'id',
            
        });

        
    $("input[id='to_date']").daterangepicker({
        timePicker: true,
        startDate: moment().startOf("hour"),
        endDate: moment().startOf("hour").add(32, "hour"),
        locale:{
            "format": "DD.MM.YYYY",
            "language": 'ru',
            "applyLabel": "Принять",
            "cancelLabel": "Отмена",
            "fromLabel": "от",
            "toLabel": "до",
            "customRangeLabel": "Диапазон",
            "daysOfWeek": [ "Вск", "Пнд", "Втр", "Срд", "Чтв", "Птн", "Сбт"],
            "monthNames": ["Январь", "Февраль", "Март", "Апрель",
                            "Май", "Июнь", "Июль", "Август",
                            "Сентябрь", "Октябрь", "Ноябрь", "Декабрь"],
            "firstDay": 1
        }
    })



    $("#date_with_month_year_filter").datepicker({
        format: "mm.yyyy",
        viewMode: "months", 
        minViewMode: "months",
        language: 'ru',

    })


    $('#choose_owner').on('change', function(){
        var choosen_numb = $(this).attr("colnumb")
        var choosen_option = $(this).select2('data')[0]['id']
        console.log(choosen_numb)

        table.columns(choosen_numb).search(choosen_option).draw();
    })


    //options data for owners
    $('#choose_owner').select2({
        ajax: {
            url: "{% url 'receipts:receipt_list' %}",
            dataType: 'json',
            data: function(params){
                if(params.term != undefined && params.term != undefined){
                    var query = {
                        search: params.term,
                        type: 'public',
                        issue_marker: 'owners'
                    }
                    return query;
                } else {
                    var query = {
                        search: params.term,
                        type: 'public',
                        issue_marker: 'all_owners'
                    }
                    return query;
                }  
            }
        }
    })



//    var click_counter = 0
//    $("a[id^='order-link']").on('click', function(){
//        var col_numb = parseInt($(this).attr('id').replace('order-link_', ''))
//        if (click_counter % 2 == 0){
//            table.order([col_numb, 'asc']).draw();
//            //console.log(table)
//        } else {
//            table.order([col_numb, 'desc']).draw();
//        }
//        click_counter++
//    })

    //$('#choose_house')


//------------------------------------------------------------------------

    // options data for all dropbox exclude owners
//    $('#choose_house').on('change', function(){
//        var choosen_house = $(this).find('option:selected').val()
//        if(choosen_house){
//            $.ajax({
//                url: "{% url 'appartments:personal_accounts_list' %}",
//                type: "GET",
//                data: {
//                    'choosen_house': choosen_house,
//                },
//                dataType: "json",
//                success: (data) => {

//                    var sections_arr = data["sections"]
//                    var additional_section_html = "<option id='empty_sect'></option>"
//                    for (section of sections_arr){
//                        additional_section_html +=`<option id=${section["id"]}>${section["title"]}</option>`
//                    }
//                    $('#choose_section').not("option[value='']").empty().append(additional_section_html);
//                }
//                })
//            } else {
//                $('#choose_section').empty().append("<option id='empty_sect'>Выберите дом</option>");
//                $('#choose_section').trigger('change')

//            }
//    })

    

    //options data for owners
//    $('#choose_owner').select2({
//        ajax: {
//            url: "{% url 'appartments:personal_accounts_list' %}",
//            dataType: 'json',
//            data: function(params){
//                if(params.term != undefined && params.term != undefined){
//                    var query = {
//                        search: params.term,
//                        type: 'public',
//                        issue_marker: 'owners'
//                    }
//                    return query;
//                } else {
//                    var query = {
//                        search: params.term,
//                        type: 'public',
//                        issue_marker: 'all_owners'
//                    }
//                    return query;
//                }  
//            }
//        }
//    })

    
//    $("input[class$='datepicker_added']").datepicker({
//        format: "dd.mm.yyyy",
//        language: 'ru'
//    })

    //change row coursor
//    table.on('mouseover', "a[id^='order-link']", function(){
//        $(this).css('cursor','pointer')
//        }
//    )
    
//    table.on('mouseout', "a[id^='order-link']", function(){
//        $(this).css('cursor','auto');
//        }
//    )



    //cleaning searh filters
//    $('.box-header').on('click', '#clear_filters', function () {
//        $("*[colnumb]").val('').change()
//    } ); 


    //reversion logic for row except links to send inviting, deleting and editing
    table.on('click', 'tbody > tr > td', function () {
        if(
            $(this).find("div").attr("id") != "buttons_interaction"
            )
        {
            var basic_url = "{% url 'receipts:receipt_detail' %}"
            var url_index = table.row(this).id().toString();
            document.location.href = basic_url + url_index;
            //console.log(`Now you click in link ${url_index}`)
        }
    } );


    // delete and confirm display lofic
    $("#myDialog").dialog({
        autoOpen  : false,
        modal     : true,
        title     : "avadamedia.myhoise24",
        buttons   : {
                    'удалить квартиру' : function() {
                        var textValue = $('#myTextBox').val();
                        var basic_url = "{% url 'receipts:receipt_delete' %}"
                        var row_number = $(this).data('row_number')
                        document.location.href = basic_url + row_number;
                    },
                    'отмена' : function() {
                        $(this).dialog('close');
                    }
                }
    });


    table.on('click', '#delete_button', function(){
        var row_number = $(this).closest('tr').attr('id')
        var receipt_number = $(this).closest("tr").find("td[class*='number']").text()
        console.log(number)
        $("#myDialog").text(`Удалить квитанцию ${receipt_number}?`).data('row_number', row_number).dialog("open");
    })


    table.on('click', '#edite_button', function(){
        var row_number = $(this).closest('tr').attr('id')
        var basic_url = "{% url 'receipts:edit_receipt' %}"
        document.location.href = basic_url + row_number;
    })


    });



    
</script>
{% endblock content %}